:host {
  height: var(--dd-header-height);
  background-color: var(--dd-light);
}

ul {
  display: flex;
  justify-content: flex-start;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  li:first-child {
    padding-left: 0 !important;
  }
}

li {
  display: block;
  padding: 20px 15px;
  a {
    text-decoration: none;
  }
}
