:host {
  height: var(--dd-header-height);
  background-color: var(--dd-light);
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  display: block;
  padding: 20px 15px;
  a {
    text-decoration: none;
  }
}
