@import "../../styles/variables";
:host {
  height: var(--dd-header-height);
  background-color: var(--dd-light);
}

ul {
  display: flex;
  justify-content: flex-start;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $dd-stacking-width + 1) {
    li:first-child {
      padding-left: 0 !important;
    }
  }
}

li {
  display: block;
  padding: 20px 15px;
  a {
    text-decoration: none;
  }
}

a {
  color: var(--dd-text-emphasis);
  font-size: 1.5rem;
  text-transform: lowercase;
  font-variant: small-caps;
}
a.active {
  border-bottom: solid 3px var(--dd-orange);
  font-weight: bolder;
}
