<div>
  <span class="social">
    <a href="https://github.com/dandouglas" rel="noopener" target="_blank"><fa-icon [icon]="faGithub" size="lg"></fa-icon></a>
    <a href="https://www.linkedin.com/in/dan-douglas/" rel="noopener" target="_blank"><fa-icon [icon]="faLinkedin" size="lg"></fa-icon></a>
    <a href="https://stackoverflow.com/users/1247368/daniel-douglas" rel="noopener" target="_blank"><fa-icon [icon]="faStackOverflow" size="lg"></fa-icon></a>
    <a href="mailto:dan.douglas.dev@gmail.com" rel="noopener" target="_blank"><fa-icon [icon]="faEnvelope" size="lg" class="email-icon"></fa-icon></a>
  </span>
  <span>&copy; {{ date }} Daniel Douglas</span>
</div>
