// Headings
@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/montserrat-v15-latin-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Paragraphs
@font-face {
  font-family: "Fira Code";
  src: url(/src/assets/fonts/FiraCode-Light.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url(/src/assets/fonts/FiraCode-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url(/src/assets/fonts/FiraCode-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url(/src/assets/fonts/FiraCode-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

p, body {
  font-family: "Operator Mono", "Inconsolata", Consolas, Monaco, "Andale Mono",
    "Ubuntu Mono", monospace;
  margin-bottom: 1rem;
  line-height: 1.75;
  color: var(--dd-text-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  font-weight: bolder;
  font-display: swap;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--dd-dark);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

em {
  font-style: italic;
  color: var(--dd-text-emphasis);
  font-weight: bolder;
}

.tldr {
  font-weight: bold;
  font-style: italic;
}
