// Headings
@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/montserrat-v15-latin-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

// Paragraphs
@font-face {
  font-family: 'Fira Code';
  src: url(assets/fonts/FiraCode-Light.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url(assets/fonts/FiraCode-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url(assets/fonts/FiraCode-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Code';
  src: url(assets/fonts/FiraCode-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: 'Operator Mono','Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1.00rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

