<h2>About</h2>
<p>Hey I'm Dan a web developer who's main focus has been Angular.  I've been working with Angular since version 0.xx
  and in that time have been responsible for the migration of a number of large AngularJS code bases to Angular.  It's
  not a pretty job but someone has to do it.
</p>

<p>I haven't always been a developer.  My previous jobs have actually been very different.  Prior to becoming a web developer I was
  essentially another sort of developer but in construction.  During this time I developed a number of properties including some barn conversions.
  I enjoyed getting my hands dirty for that brief period and learning the tricks of the trade which are still saving me a pretty penny today.
  Prior to that I spent 6 years in the Royal Navy working in the survival branch. During this time I was responsible for teaching sea survival
  techniques and even managed to train some celebrities on the way including <app-fancy-link link="https://www.imdb.com/name/nm0377901/bio">Sir Lenworth George Henry</app-fancy-link>.. better known as Lenny Henry.
</p>

<p>To be honest I have always brushed paths with celebs while working.  One of my greatest claims to fame was serving <app-fancy-link link="https://en.wikipedia.org/wiki/Chumbawamba">Chumbawamba</app-fancy-link>
  ice cream when I worked behind a bar at a concert venue many years ago.
</p>

<div>
  <app-polaroid
  image="../../../assets/images/family.JPG"
  caption="The family"
  width="472"
  height="472"
></app-polaroid>
</div>

<p>When I'm not mixing with celebrities or working I will likely be spending time with my family.  A lot of the time this involves driving
  around the countryside in our VW camper with the kids and crazy Doberdor dog (that's a Doberman crossed with a Labrador if you didn't know).  We try to get out in the van as much as possible, wether
  it's a drive up the road to the New Forest or to a VW festival where I can relax with a few craft beers watching relatively unknown but
  fairly decent Ska bands perform
</p>

<app-polaroid
  image="../../../assets/images/poppy.JPG"
  caption="Poppy the Doberdor"
  width="500"
  height="500"
></app-polaroid>
