@import "../styles/variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #fff;
}

ul {
  padding-left: 1em;
}

h1,
h2,
p {
  margin: 0 0 0.8em 0;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(150px, 300px) 4fr;

  @media (max-width: $dd-stacking-width) {
    grid-template-columns: none;
  }
}

app-header {
  grid-column-start: 1;
  grid-column-end: -1;
}

main {
  padding: $dd-content-padding;
}

app-footer {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.container > * {
  border: red 1px solid;
}
