<aside class="sidebar">

  <div class="profile-image"><img src="../../assets/images/me.png" alt="face of Daniel Douglas"></div>
  <h3>Profile</h3>
  <p>Web and mobile application developer with 8 years commercial experience in the industry. Possesses a wide skill
    set and has been involved in the project life cycle from initial conception through to delivery. Has worked with
    Angular since the beginning and orchestrated the migration or a number of large scale AngularJs apps to Angular.
    An effective communicator who’s happy talking to clients whether requirement gathering or dealing with problems.
    Now ready for that next challenge and to further develop his skills.</p>

    <h3>Interests</h3>
    <ul>
      <li><fa-icon [icon]="faChevronRight"></fa-icon> Strumming the guitar</li>
      <li><fa-icon [icon]="faChevronRight"></fa-icon> Keeping in relative shape</li>
      <li><fa-icon [icon]="faChevronRight"></fa-icon> Clay pigeon shooting</li>
      <li><fa-icon [icon]="faChevronRight"></fa-icon> Building cool things with code</li>
    </ul>

</aside>
