:host {
  background-color: var(--dd-dark);
  padding: 1rem;

  @media (min-width: 801px) {
    min-height: calc(100vh - (var(--dd-footer-height) + var(--dd-header-height)));
  }
}

h3, fa-icon {
  color: var(--dd-orange);
}

p {
  line-height: 1.4;
  color: #ccc;
}

li {
  list-style: none;
}

.profile-image {
  text-align: center;
  img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

}
