<h1>Welcome!</h1>
<p>Hello all and welcome to my personal blog site and general dumping ground for my thoughts and ideas.
  You'll hopefully find lots of useful information here (eventually) on technical topics such as
  <app-fancy-link link="https://angular.io">Angular</app-fancy-link>,
  <app-fancy-link link="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript">JavaScript</app-fancy-link>,
  <app-fancy-link link="https://www.typescriptlang.org/">TypeScript</app-fancy-link>,
  <app-fancy-link link="https://en.wikipedia.org/wiki/CI/CD">CI/CD</app-fancy-link> and general development things.
  I'll also talk about my past experience as life as a developer along with helps and tips to boost your careers.
</p>

  <h2>Latest Posts</h2>
  <app-blog-card [posts]="posts$ | async"></app-blog-card>

