:host {
  display: block;
}

:root {
  --transition-time: 0.5s;
}

.card-grid-space {
  display: inline-block;
  margin-right: 1rem;

  @media screen and (max-width: 828px) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.card {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 10em;
  width: 7.5em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: var(--dd-shadow-one);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;

  // @media screen and (max-width: 860px) {
  //   width: 100%;
  // }
}

.card:hover {
  transform: rotate(0);
}

.card h3 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: .5rem;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--dd-dark);
  color: rgb(228, 228, 228);
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 1rem;
  line-height: 1rem;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover, .card:hover .card-content p {
  color: var(--dd-text-body);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-content {
  height: 80%;

  p {
    font-size: .8rem;
    color: var(--dd-light);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h3 {
    margin: 0;
  }
}
