@import "styles/reset.scss";
@import "styles/typography.scss";

:root {
  // Colours
  --dd-dark: #252525;
  --dd-light: #f7f7f7;
  --dd-orange: #ff632b;
  --dd-text-body: #333;
  --dd-text-header: #111;
  --dd-text-emphasis: #222;

  // Layout
  --dd-header-height: 56px;
  --dd-footer-height: 56px;
}

html, body {
  overscroll-behavior: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.00em;
  background-color: var(--dd-dark);
}


