@import "styles/reset.scss";

:root {
  // Colours
  --dd-dark: #252525;
  --dd-orange: #ff632b;

  // Layout
  --dd-header-height: 56px;
  --dd-footer-height: 56px;
  --dd-stacking-width: 800px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3, p {
  margin-bottom: .5rem;
}

a {
  color: var(--dd-orange);
}
